# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# IDE specific ignores
.idea

# folder using for go packages
packages/

# javascript files
node_modules/
# compiled bundles (these shouldn't be stored since they're generated)
public/css/main.css*
public/js/bundle.js*
public/fonts/glyphicon*